.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.total {
    display: flex;
    justify-content: end;
}

.button {
    box-shadow: 8px 6px 5px rgba(87, 86, 87, 0.1);
    padding: 8px 16px;
    border-radius: 6px;
    background: #4b4b4b;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.1s ease-in-out;
}

.button:hover {
    box-shadow: 1px 5px 4px rgba(22, 22, 22, 0.851);
    transform: scale(1.03); 
}